  
    <div class="container mt-5">
      <div class="row text-center">
        <div class="col-sm"><h2>About Me</h2></div>
      </div>
      <div class="row text-center">
        <div class="col-sm"><hr></div>
      </div>
      <div class="row">
        <div class="col">Lorem ipsum, dolor, sit amet consectetur adipisicing elit. Nulla quidem nihil possimus rem fugiat sequi delectus? Ducimus error unde velit laudantium quisquam commodi obcaecati, id natus aut quo. Molestiae, nam.</div>
        <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ducimus architecto delectus soluta. Rerum molestiae error dolor harum mollitia nisi blanditiis optio alias iusto ipsam eveniet vel odit, ex, inventore ad suscipit quaerat doloribus delectus?</div>
      </div>
    </div>
  