
<div class="container">
  <form class="mt-5">
    <div class="row mt-1">
      <label for="nama" class="form-label">Masukan Nama</label>
      <input type="nama" class="form-control custom-border" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="row mt-1">
      <div class="col">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control custom-border" id="email" aria-describedby="emailHelp">
      </div>
      <div class="col">
        <label for="phone" class="form-label">Masukan Nomor HP</label>
        <div class="input-group">
      <div class="input-group-prepend">
        <img src="/img/ind.png" alt="Phone Logo" class="img-fluid" width="50" height="50">
      </div>
      <input type="tel" class="form-control custom-border" id="phone" placeholder="Enter phone number">
    </div>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col">
        <label htmlFor="textArea">Komentar</label>
        <textarea name="Komentar" id="Komentar" class="form-control custom-border" cols="30" rows="10"></textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
</div>