    <div class="p-5 mb-4 bg-secondary-subtle rounded-3 text-center">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">STMIK IKMI Cirebon</h1>
    <img src="/img/ASEP.jpg" alt="asep saefuddin" width="200px" height="200px" class="rounded-circle border border-light border-3">
    <br><br>
    <button class="btn btn-primary btn-lg mt-4" type="button">Asep Saefuddin</button>
  </div>
</div>
    